* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    -webkit-font-smoothing: antialiased;
}

div {
    text-align: center;
}

button {
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    height: 100px;
    margin: 12px;
    letter-spacing: 1px;
    position: relative;
    width: 200px;
}

#button {
    background-color: #27A0B6;
    border-color:  #27A0B6;
    z-index: 2;
}

#button:active {
    background-color: #FFFFFF;
    color: #27A0B6;
}

#silly-button.start {
    background-color: green;
    border-color:green;
}

#silly-button.stop {
    background-color: red;
    border-color: red;
}

#silly-button.start:active {
    background-color: #FFFFFF;
    color: green;
}

#silly-button.stop:active {
    background-color: #FFFFFF;
    color: red;
}

button:focus {
    outline: none;
}